{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{{ about.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          
          <h3>{{ about.header }}</h3>
          <p>
            
           </p>
          <p class="font-italic">          
            {{ about.content }}           
          </p>
          <p class="font-italic">
            About Content About Content About Content About Content About ContentAbout Content About Content About Content About Content About ContentAbout Content About Content About Content About Content About
          </p>
          
          <ul>
            <li><i class="ri-check-double-line"></i>{{ about_list1.list }}</li>
            <li><i class="ri-check-double-line"></i>{{ about_list2.list }}</li>
            <li><i class="ri-check-double-line"></i>{{ about_list3.list }}</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
