{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'components/navbar.html' %}
  {% include 'sections/hero.html' %}
  {% include 'sections/about.html' %}
  
  <main id="main">

  {% include 'sections/clients.html' %}    
  {% include 'sections/features.html' %}    
  {% include 'sections/services.html' %}   
  {% include 'sections/call-action.html' %}  
  {% include 'sections/counts.html' %}   
  {% include 'sections/testimionals.html' %}
  {% include 'sections/team.html' %}  
  {% include 'components/footer.html' %}
  </main><!-- End #main -->

 
</body>
{% endblock %}