  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gp<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href=" https://www.youtube.com/channel/UCCem99fiONL3JpYyH1jQd2w" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href=" https://www.instagram.com/itcom/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/79967853/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'terms' %}">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'privacy-policy' %}">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'web-design' %}">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'web-development' %}">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'product-management' %}">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'marketing' %}"">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'graphic-design' %}">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

 
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>
